.form-horizontal .controls {
	margin-left: 10px;
}
#gene_tab .control-group:nth-of-type(3){ /* title */
	float:left;width:40%;
}
#gene_tab .control-group:nth-of-type(4){ /* state */
	float:left;width:30%;
}
#gene_tab .control-group:nth-of-type(5){ /* language */
	float:right;width:30%;
}
#gene_tab .control-group:nth-of-type(6){ /* Compression */
	clear:both;width:100%;
}
#gene_tab .control-group:nth-of-type(7) .controls, /* Intro */
#gene_tab .control-group:nth-of-type(8) .controls{ /* Bottom */
	width:80%;
}
#gene_tab .control-group:nth-of-type(7) .control-label, /* Intro */
#gene_tab .control-group:nth-of-type(8) .control-label{ /* Bottom */
	width:8em;
}

.alert-success {font-size:120%;
text-align:center}

.info-labels + div {
background: none repeat scroll 0 0 #EEEEEE;
color: #000000;
font-size: 110%;
font-style: italic;
font-weight: normal;
margin: 15px 0 30px;
padding: 15px 10px 10px 20px;
}
