<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="CG_GALLERY" name="CG_GALLERY">
        <field
            name="base_dir"
            type="text"
            label="Base directory"
            description="Select images base directory"
            default="images"
        />
    </fieldset>
    <fieldset 
        name="permissions"
	description="JCONFIG_PERMISSIONS_DESC"
	label="JCONFIG_PERMISSIONS_LABEL">

		<field 
                    name="rules" type="rules" component="com_cggallery"
                    class="inputbox" filter="rules" validate="rules"
                    label="JCONFIG_PERMISSIONS_LABEL"
                    section="component" />
	</fieldset>
</config>
